<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<tr bgcolor="#828282" th:fragment="footer" width="100%">
    <td align="right" style="padding: 30px 30px 30px 30px; font-size: 1.0rem;">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a href="http://www.github.com/" style="color: #ffffff; text-decoration: none;">
                        github
                    </a>
                </td>
                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                <td>
                    <a href="http://www.facebook.com/" style="color: #ffffff; text-decoration: none;">
                        facebook
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>

</body>
</html>