<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<tr bgcolor="#828282" th:fragment="footer (title, copyright)" width="100%">
    <td align="right" style="color:white; padding: 30px 30px 30px 30px; font-size: 0.7rem;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="33%">
                    <p style="margin: 0px; padding: 0px 0px 0px 0px;">Oracle Certified Java Professional</p>
                    <p style="margin: 0px; padding: 0px 0px 0px 0px;" th:text="${title}"></p>
                </td>
                <td style="text-align:center" width="33%">
                    <p style="margin: 0px; padding: 0px 0px 0px 0px;" th:text="${copyright}"></p>
                    <!--<p>&copy; {t("Name")} 2020-{new Date().getFullYear()} {t("Rights")}</p>-->
                </td>

                <td style="text-align:right" width="33%">
                    <a href="https://www.linkedin.com/in/laszlo-hunyady-40b355177/"
                       style="text-decoration: none; padding-right: 10px">LinkedIn</a>
                    <a href="https://github.com/lahunyady" style="text-decoration: none;">Github</a>
                </td>
            </tr>
        </table>
    </td>
</tr>

</body>
</html>